<div id="waitlist" class="background-orange box-shadow" style="display: table;">

    <div style="display: table-row;">
        <div class="header">
            @AESHiringManagement.Models.Dashboard.getCount() Pending Applications
        </div>
    </div>

    <div style="display: table-row;">

        <div id="noapps" style="display: none;">
            No Applications
        </div>

        <div class="applicant">

            @using (Html.BeginForm("LoadApplication", "Dashboard", FormMethod.Post))
            {
                
                foreach (var app in AESHiringManagement.Models.Dashboard.getPendingApplications())
                {
                    string name = AESHiringManagement.Models.Dashboard.getName(app.id);
                //    string color;
                //    switch (AESHiringManagement.Models.Dashboard.getStatus(id))
                //    {
                //        case 0:
                //            color = "green";
                //            break;
                //        case 1:
                //            color = "blue";
                //            break;
                //        case 2:
                //            color = "red";
                //            break;
                //        default:
                //            color = "";
                //            break;
                <input type="submit" class="dashboard-button" name="selectApp" value="@name" />
                    //<input type="submit" class="dashboard-button" style="color:@color" name="selectApp" value="@name" />
                    <br />
                }
            }

        </div>

    </div>

</div>