<div id="waitlist" class="background-orange box-shadow" style="display: table;">

    <div style="display: table-row;">
        <div class="header">
            @AESHiringManagement.Models.Dashboard.getCount() Pending Applications
        </div>
    </div>

    <div style="display: table-row;">

        <div id="noapps" style="display: none;">
            No Applications
        </div>

        <div class="applicant">

            @using (Html.BeginForm("LoadApplication", "Dashboard", FormMethod.Post))
            {
                
                foreach (var app in AESHiringManagement.Models.Dashboard.getPendingApplications())
                {
                    string name = AESHiringManagement.Models.Dashboard.getName(app.id);
                    <input type="submit" class="dashboard-button" name="selectApp" value="@name" />
                    <br />
                }
            }

        </div>

    </div>

</div>