@using AESHiringManagement.Controllers
@{
    ViewBag.Title = "Dashboard";
}

<div style="display: table;">

    <div style="display: table-cell;">

        <div id="pending" style="display: table-row;">
            @Html.Partial("_Pending")
        </div>

    </div>

    <div style="display: table-cell; padding: 10px 0px 10px 5px;">
        @Html.Partial("_Application")
    </div>

</div>

<script type="text/javascript">

    $(document).ready(function () {
        var refresh = function () {
            $('#pending').load('@Url.Action("RefreshPending", "Dashboard")');
            setTimeout(refresh, 3000);
        };
        refresh();
    });

</script>