/* Set width on the form input elements since they're 100% wide by default */

input, select, textarea {
    max-width: 280px;
}

/* Styles for validation helpers */

.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

/* Shared styles */

.box-shadow {
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
}

.background-green {
    background-color: #00b85c;
}

.background-orange {
    background-color: #e08e2a;
}

.background-light-blue {
    background-color: #529ddc;
}

.background-blue {
    background-color: #3790db;
}

.background-header-footer {
    background-color: #296ca5;
}

.background-nav {
    background-color: #a9c4db;
}

.text-shadow {
    text-shadow: 0px 0px 10px #000000;
}

.header {
    padding: 10px;
    color: white;
    font-size: 18px;
    text-align: center;
}

#noapps {
    color: gray;
    text-align: center;
    padding: 10px;
}

/* Start application box */

#application {
    margin: 5px;
}

#application .body {
    background-color: white;
    padding: 10px;
}

#application .dashboard-names {
    display: table-cell;
    border: solid;
    width: 15vw;
    max-width: 18vw;
    min-width: 18vw;
}

#application .dashboard-application {
    display: table-cell;
    padding: 5px;
}

#application input[type=submit].dashboard-button {
    border-radius: 0px;
    padding: 0 4px 0 4px;
    text-align: left;
    text-decoration: none;
    font-size: small;
    outline: none;
    border: none;
    margin-top: 2px;
    width: 15vw;
    max-width: 15vw;
}

#application .dashboard-entry {
    border: none;
    border-color: grey;
    border-width: 1px;
    padding: 4px;
}

#application .app-disp {
    padding-left: 5px;
    padding-bottom: 4px;
}

#application .app-textarea {
    min-width: 65vw;
    max-width: 65vw;
    height: 20vh;
}

#application .app-field {
    border: solid;
    border-color: grey;
    border-width: 1px;
    height: 5vh;
    margin: 0px;
}

#application label {
    font-size: x-small;
    vertical-align: top;
    border: none;
    word-wrap: normal;
}

/* Start waitlist box */

#waitlist {
    font-size: 18px;
    text-align: center;
    max-width: 20vw;
    min-width: 20vw;
    text-align: center;
    margin-bottom: 10px;
}

#waitlist .applicant {
    background-color: white;
    padding: 5px;
    line-height: 25px;
    text-align: left;
}

/* Start menu bar */

#menu {
    font-size: 18px;
    text-align: center;
    max-width: 130px;
    min-width: 130px;
    text-align: center;
    margin-bottom: 10px;
}

#menu .counter {
    font-size: 50px;
    background-color: white;
}

#menu ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

#menu li {
    display: list-item;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
}

#menu .static a {
    color: white;
    text-decoration: none;
}

#menu .static:hover {
    background-color: #529ddc;
}

#menu .dynamic:hover {
    background-color: #529ddc;
}

#menu .collapsible {
    display: none;
    background-color: white;
    text-align: left;
    padding-left: 20px;
    line-height: 25px;
}

#menu .collapsible a {
    text-decoration: none;
    color: gray;
}

#menu .collapsible a:hover {
    color: black;
}

/* End menu bar */