@{
    ViewBag.Title = "Phone Screening";
}

<div class="content">

    <h1>@ViewBag.Title</h1>

    <h2 style="font-size: 200%;">
        Your application is now complete and you are ready to be screened by one of our interviewers.
        <br />
        <br />
        Please pick up the phone and dial the number below.
        <br />
        <br />
        <b style="color: black; font-size: 250%">1-800-1TO-HIRE</b>
    </h2>

    <br />

    <input type="submit" value="Exit Application" onclick="location.href='@Url.Action("Welcome", "Home")'" class="label-green text-shadow" />

</div>