@{
    ViewBag.Title = "Kiosk Start";
}

<div class="content">

    <h1>Store Information</h1>
    <h2>Enter Store ID #</h2>

    @using (Html.BeginForm("Welcome", "Home", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.TextBox("storeId", null, new { placeholder = "Store Id #", @id = "storeid-textfield" })
        
        <br />
        <br />
        
        <input type="submit" value="Continue" class="label-green text-shadow" />
    }

</div>