@{
    ViewBag.Title = "Main Menu";
}

<div style="text-align: center;">

    <div class="content-header">Welcome to the A.E.S. Job Application Kiosk.</div>

    <div class="content-subheader">Select an option below to begin.</div>

    <input type="button" value="Show Local Jobs / New Application" onclick="location.href='@Url.Action("Index", "LocalJobs")'" />
    <input type="button" value="Login / Change Application" onclick="location.href='@Url.Action("Index", "Login")'" />

</div>